<div class="container">
  <h1>{{ title }}</h1>


  <form action="">
    <input kendoTextBox type="text" name="message" placeholder="Enter your message here" [(ngModel)]="message" />
    <button kendoButton (click)="onButtonClick()" [primary]="true">Send Message</button>
  </form>
<p>{{ server_message }}</p>
</div>